:root {
  font-family: "Abril Fatface";
}

#symbol-star {
  display: none;
}

$bounceSpeed: 0.5s;

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  margin: 10% auto;
  max-width: 700px;
}

.criteria,
.total {
  width: 340px;
  flex: 50%;
  h3 {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
  }
}

.total {
  margin: auto;
  opacity: 0;
  animation: slideIn 0.5s ease-out forwards;
}

.star-row {
  display: flex;
  flex-direction: row-reverse;

  --star-color: #ffd700;

  .star-wrapper {
    flex: 1;
    cursor: pointer;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: ($bounceSpeed * (5 - $i)) * 0.2 !important;
      }
    }

    .star {
      rect {
        transition: all 0.2s ease-out;
        fill: transparent;
        width: 100%;
        opacity: 0;
      }
    }

    &:hover {
      transition: all 200ms ease-out;

      svg {
        transform: translateY(-7%);

        rect {
          fill: #ffd700;
          opacity: 1;
        }
      }

      & ~ .star-wrapper {
        rect {
          opacity: 0.3;
          fill: #ffd700;
        }
      }
    }

    &.selected {
      animation: pumping 500ms ease-out forwards;

      .star rect {
        fill: #ffd700;
        opacity: 1;
      }

      & ~ .star-wrapper {
        animation: jumping 500ms ease-out forwards;
        rect {
          opacity: 1;
          fill: #ffd700;
        }
      }

      &.selected--mediocre {
        .star rect {
          fill: #ff9900;
        }

        & ~ .star-wrapper {
          rect {
            fill: #ff9900;
          }
        }
      }

      &.selected--bad {
        .star rect {
          fill: #ff795b;
        }

        & ~ .star-wrapper {
          rect {
            fill: #ff795b;
          }
        }
      }
    }
  }
}

//reste à afficher les couleurs en fonction du score

.star-row:not(.star-row--criteria) {
  pointer-events: none;

  .star-wrapper {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        .star rect {
          transition-delay: ($bounceSpeed * (5 - $i)) * 0.2 !important;
        }
      }
    }

    animation: jumping 0.5s ease-out forwards;

    & ~ .star-wrapper {
      animation: jumping 0.5s ease-out forwards;
    }

    .star {
      rect {
        opacity: 1;
        fill: #ffd700;
      }
    }

    &.mediocre {
      .star {
        rect {
          fill: #ff9900;
        }
      }
    }

    &.bad {
      .star {
        rect {
          fill: #ff795b;
        }
      }
    }
  }
}

@keyframes pumping {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-7%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }

  100% {
    transform: translateY(15%);
    opacity: 1;
  }
}
